Workflows/EmbeddingPDFtoVector.json
{
  "name": "EmbeddingPDFtoVector",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "={{ $json.path.replace(/\\\\/g, \"/\") }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -32,
        -64
      ],
      "id": "0edae19f-faab-4f87-9040-a22df1fa00b2",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "C:\\Vijay\\portfoliodata",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -80
      ],
      "id": "e8b5c770-61a7-427c-90b8-3dcf388ee8be",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "portfolio",
          "mode": "list",
          "cachedResultName": "portfolio"
        },
        "options": {
          "clearNamespace": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        -80
      ],
      "id": "c24f519e-2109-4f38-b5d9-e838d95b38d6",
      "name": "Pinecone Vector Store",
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "olTpsqkEhMd2M8JJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        128
      ],
      "id": "1de30fec-0a23-4f3b-9810-fae0724369ab",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "mfS2g0k0ASfyMyyb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "docxLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        416,
        144
      ],
      "id": "952b3698-16ea-4c1d-a7e8-2edf670ba297",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "errorWorkflow": "lqgyunK0KO4HgOhK"
  },
  "versionId": "e384fdd1-5a79-4074-b443-06cf2cea1ed0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f55e72aadfac5697c18905315b32123c7a97fa9919eb619d842618e75dcf54d"
  },
  "id": "0r9cphuTYHjM7vJ6",
  "tags": []
}